<container style="background: #E6E7E8;">
  <container class="footer-container">
    <row>
      <columns class="footer">
        <span>
          This is a marketing message from Monster, 133 Boston Post Road, Weston, MA 02493
          <br>
          <br>
          	&#9400; 2020 Monster, all rights reserved. Monster&reg; is a registered trademark of Monster Worldwide, Inc.
          <br>
          <br>
          <a href="#" class="no-underline"><strong>Unsubscribe </strong></a><span>|</span><a href="#" class="no-underline"><strong> Privacy</strong></a>
          <br>
          <br>
          To manage your Monster email communication preferences, <a href="#">login</a> to your account.
          <br>
          <br>
          Do not reply to this email. <a href="#">Email us directly</a>
          <br>
          <br>
          This email was sent to: osablove@gmail.com
          <br>
          <br>
          Add <a href="#">monster@emails.monster.com</a> to your address book or safe list to ensure delivery of
          Monster emails. If you doubt the authenticity of an email from Monster, open a new browser and go to
          Monster.com to perform the requested activity.
          <br>
          <br>
        </span>
      </columns>
    </row>
  </container>
</container>
