<container>

<!-- View in Browser Section -->
  <row class="view-in-browser show-for-large">
    <columns large="11" small="11">
    </columns>
    <columns large="1" small="1" valign="center">
      <a href='#'>View in Browser</a>
    </columns>
  </row>

<!-- Header with Message Section -->
  <row class="header">
    <columns>
      <row class="header-logo">
        <columns>
          <center>
            <img src="{{ root }}/assets/img/monster-imgs/full-logo.jpg" alt="MonsteR" />
          </center>
        </columns>
      </row>
      <row class="header-text">
        <columns>
          <center>
            <strong>This could be the one.</strong>
          </center>
        </columns>
      </row>
    </columns>
  </row>

</container>
